.btn.btn_action {
	display: flex;
	align-items: center;

	width: 100%;
	height: 56px;
	padding: 0 18px;

	background-color: #fff5bf;

	& + .btn.btn_action {
		margin-top: 10px;
	}
	
	&:hover {
		background-color: darken(#fff5bf, 10);
	}
	
	&:active {
		background-color: darken(#fff5bf, 10);
		box-shadow: inset 0 1px 3px rgba(#000, 0.17);
	}

	.btn__icon {
		width: 32px;

		&:after {
			content: '';
			display: block;
		}

		&_phone {

			&:after {
				@include bg($btn-action_phone);
			}
		}

		&_credit {

			&:after {
				@include bg($btn-action_credit);
			}
		}

		&_installments {

			&:after {
				@include bg($btn-action_installments);
			}
		}

		&_one-click {

			&:after {
				@include bg($btn-action_one-click);
			}
		}
	}

	.btn__text {
		color: #000;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
	}
}