section#modal-product-one-click.modal.modal_product-one-click.mfp-hide.mfp-with-anim
	.modal__close.js-modal-close(href='javascript:;')
	h1.modal__title Купить в один клик
	.modal__icon
		i.icon.icon_one-click
	.modal__body
		.form.form_in-modal
			.form__row.h-tac
				p.form__desc.
					Укажите ваш контактный номер, и мы перезвоним вам для уточнения деталей заказа

			.form__row
				.form__label
					label Как к вам обращаться?*
				.form__field
					input(type='text', name='')

			.form__row
				.form__label
					label Номер телефона*
				.form__field
					input(type='text', class="js-masked-phone", placeholder='+38(___) ___-____')

			.form__btn
				button.btn.btn_brown(type='submit') Оформить заказ



