.list-soc {

	.soc {
		display: inline-block;
		width: 23px;
		height: 23px;

		background-color: #4191c9;

		text-align: center;
		line-height: 23px;

		& + .soc {
			margin-left: 4px;
		}

		.fa {
			color: #fff;
		}

		&_fb {
			background-color: #1569b0;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}