.live-search-results.js-live-search-results
	.live-search-results__body
		.live-search-results__elem
			a(href='#').live-search-results-link
				b Res
				|ult
		.live-search-results__elem
			a(href='#').live-search-results-link Result
		.live-search-results__elem
			a(href='#').live-search-results-link Res
				b ult
	.live-search-results__footer
		.live-search-results__elem
			a(href='#').live-search-results-link Все результаты.

