section#modal-add-review-about-store.modal.modal_add-review-about-store.mfp-hide.mfp-with-anim
	.modal__close.js-modal-close(href='javascript:;')
	h1.modal__title Добавить отзыв о магазине
	.modal__body
		.form.form_in-modal
			.form__row.form__row_bg
				.form__label
					label Ваше ФИО
				.form__field
					input(type='text', name='')

			.form__row.form__row_bg
				.form__label
					label
					i.icon.icon_review-comment
					| Напишите Ваш отзыв
				.form__field
					textarea(placeholder='Введите текст')

			.form__btn
				button.btn.btn_brown(type='submit') Добавить отзыв



