.btn.btn_basket-clear {
	width: 160px;
	height: 43px;
	line-height: 43px;

	color: #000;
	text-decoration: none;

	&:before {
		display: inline-block;
		content: '';

		margin-right: 10px;

		@include bg($basket-clear);

		vertical-align: middle;
	}

	&:hover {
		color: #c38d40;
		text-decoration: underline;
	}
}