.btn {
	display: block;

	width: 100%;
	height: 33px;

	border: none;
	background: #fff;

	line-height: 33px;
	text-align: center;
	text-decoration: none;
	
	&.btn_green {
		background-color: #a4b82b;
		color: #fff;
	}

	&.btn_brown {
		background-color: #653c24;
		border-color: #52311d;

		color: #fff;

		&:active,
		&:hover {
			background-color: #c38d40;
			border-color: #c38d40;
		}

		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		}
	}

	&.btn_light-brown {
		background-color: #c38d40;
		border-color: #c38d40;

		color: #fff;

		&:active,
		&:hover {
			background-color: #653c24;
			border-color: #52311d;
		}

		&:active {
			box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
		}
	}

	&.btn_padding {
		display: inline-block;
		width: auto;
		padding-left: 40px;
		padding-right: 40px;
	}

	&.btn_orange {
		height: 40px;
		padding-left: 48px;
		padding-right: 48px;
		border: 1px solid #c38d40;
		text-transform: uppercase;
		line-height: 38px;
		color: #c38d40;
	}

	&.btn_order {
		width: 340px;
		height: 60px;

		font: 16px/60px $font-second;
		text-transform: uppercase;
	}
}