.nav.nav_main
	ul.nav__menu
		li.nav__has-submenu
			a(href='#') Услуги
			ul.nav__submenu
				li
					a(href='#') Доставка
				li
					a(href='#') Подъем и сборка
				li
					a(href='#') Оплата
		li
			a(href='#') Гарантия
		li.nav__has-submenu
			a(href='#') Кредит
			ul.nav__submenu
				li
					a(href='#') УкрСиббанк
		li
			a(href='#') Отзывы
		li
			a(href='#') Контакты