nav.nav.nav_catalog
	.container
		ul.nav__menu
			li.nav__has-submenu
				a(href='#') Матрасы, Текстиль
				ul.nav__submenu
					li
						a(href='#') Матрасы
					li
						a(href='#') Подушки
					li
						a(href='#') Одеяла
					li
						a(href='#') Наматрасники
			li.nav__has-submenu
				a(href='#') Спальни, Кровати
				ul.nav__submenu
					li
						a(href='#') Матрасы
					li
						a(href='#') Подушки
					li
						a(href='#') Одеяла
					li
						a(href='#') Наматрасники
			li
				a(href='#') Мягкая мебель
			li.nav__has-submenu
				a(href='#') Корпусная мебель
				ul.nav__submenu
					li
						a(href='#') Матрасы
					li
						a(href='#') Подушки
					li
						a(href='#') Одеяла
					li
						a(href='#') Наматрасники
			li
				a(href='#') Ткани
			li.nav__has-submenu
				a(href='#') Акции
				ul.nav__submenu
					li.nav__has-submenu.nav__has-submenu_third
						a(href='#') Матрасы, Текстиль
						ul.nav__submenu.nav__submenu_third
							li
								a(href='#') Матрасы
							li
								a(href='#') Подушки
							li
								a(href='#') Одеяла
							li
								a(href='#') Наматрасники
					li.nav__has-submenu.nav__has-submenu_third
						a(href='#') Спальни, Кровати
						ul.nav__submenu.nav__submenu_third
							li
								a(href='#') Матрасы
							li
								a(href='#') Подушки
							li
								a(href='#') Одеяла
							li
								a(href='#') Наматрасники
					li.nav__has-submenu.nav__has-submenu_third
						a(href='#') Мягкая мебель
						ul.nav__submenu.nav__submenu_third
							li
								a(href='#') Матрасы
							li
								a(href='#') Подушки
							li
								a(href='#') Одеяла
							li
								a(href='#') Наматрасники
					li.nav__has-submenu.nav__has-submenu_third
						a(href='#') Корпусная мебель
						ul.nav__submenu.nav__submenu_third
							li
								a(href='#') Матрасы
							li
								a(href='#') Подушки
							li
								a(href='#') Одеяла
							li
								a(href='#') Наматрасники
					li.nav__has-submenu.nav__has-submenu_third
						a(href='#') Ткани
						ul.nav__submenu.nav__submenu_third
							li
								a(href='#') Матрасы Матрасы Матрасы Матрасы
							li
								a(href='#') Подушки
							li
								a(href='#') Одеяла
							li
								a(href='#') Наматрасники