.icon.icon_alert-btn-close {
	width: 17px;
	height: 17px;
}
.style0{font-size:16px;font-family:"ElegantIcons";fill:#5ec136}

.icon.icon_alert-icon-danger {
	width: 18px;
	height: 18px;
}
.style0{font-size:16px;font-family:"ElegantIcons";fill:#ff391f}

.icon.icon_alert-icon-success {
	width: 18px;
	height: 18px;
}
.style0{font-size:16px;font-family:"ElegantIcons";fill:#68cb3c}

.icon.icon_bicycle {
	width: 512px;
	height: 512px;
}

.icon.icon_ladybug {
	width: 512px;
	height: 512px;
}

.icon.icon_linkedin {
	width: 112.196px;
	height: 112.196px;
}

.icon.icon_logo {
	width: 183.79px;
	height: 49.06px;
}
.cls-1{fill:#f83a42}
.cls-2{fill:#fff}

.icon.icon_logo2 {
	width: 183.79px;
	height: 49.06px;
}
.cls-1{fill:#f83a42}
.cls-2{fill:#fff}

.icon.icon_logo3 {
	width: 183.79px;
	height: 49.06px;
}
.cls-1{fill:#f83a42}
.cls-2{fill:#fff}

.icon.icon_user {
	width: 58px;
	height: 58px;
}

.icon.icon_whatsapp {
	width: 418.135px;
	height: 418.135px;
}

.icon.icon_wine {
	width: 512px;
	height: 512px;
}










