//-
	Created by ITUA on 11.05.2017.


mixin icon_alert-btn-close ()
	svg(class='icon icon_alert-btn-close')
		use(xlink:href='#alert-btn-close')

mixin icon_alert-icon-danger ()
	svg(class='icon icon_alert-icon-danger')
		use(xlink:href='#alert-icon-danger')

mixin icon_alert-icon-success ()
	svg(class='icon icon_alert-icon-success')
		use(xlink:href='#alert-icon-success')

mixin icon_bicycle ()
	svg(class='icon icon_bicycle')
		use(xlink:href='#bicycle')

mixin icon_ladybug ()
	svg(class='icon icon_ladybug')
		use(xlink:href='#ladybug')

mixin icon_linkedin ()
	svg(class='icon icon_linkedin')
		use(xlink:href='#linkedin')

mixin icon_logo ()
	svg(class='icon icon_logo')
		use(xlink:href='#logo')

mixin icon_logo2 ()
	svg(class='icon icon_logo2')
		use(xlink:href='#logo2')

mixin icon_logo3 ()
	svg(class='icon icon_logo3')
		use(xlink:href='#logo3')

mixin icon_user ()
	svg(class='icon icon_user')
		use(xlink:href='#user')

mixin icon_whatsapp ()
	svg(class='icon icon_whatsapp')
		use(xlink:href='#whatsapp')

mixin icon_wine ()
	svg(class='icon icon_wine')
		use(xlink:href='#wine')