.btn {
	///////////////////////////////////////
	$btn-padding: 10px 20px;
	$btn-padding-lg: 15px 30px;
	$btn-padding-sm: 5px 10px;

	$btn-background: #fff;
	$btn-background-green: map_get($g-colors, green);
	$btn-background-blue: map_get($g-colors, blue);
	$btn-background-red: map_get($g-colors, red);
	$btn-background-yellow: map_get($g-colors, yellow);

	$btn-border-radius: 4px; // if value == null, this style do not include in this code
	$btn-border-width: 1px;  // if value == null, this style do not include in this code
	$btn-border-color: #ccc;
	$btn-border-color-green: darken($btn-background-green, 10);
	$btn-border-color-blue: darken($btn-background-blue, 10);
	$btn-border-color-red: darken($btn-background-red, 10);
	$btn-border-color-yellow: darken($btn-background-yellow, 10);

	$btn-text-color: #888;
	$btn-font: bold 14px $g-font-main;
	$btn-font-lg: bold 16px $g-font-main;
	$btn-font-sm: bold 12px $g-font-main;
	$btn-text-uppercase: false;
	///////////////////////////////////////

	@extend %btn-reset;

	padding: $btn-padding;

	@if ($btn-border-width) {
		border: $btn-border-width solid $btn-border-color;
	}

	@if ($btn-border-radius) {
		border-radius: $btn-border-radius;
	}


	background: $btn-background;

	color: $btn-text-color;
	font: $btn-font;

	@if ($btn-text-uppercase) {
		text-transform: uppercase;
	}

	&:hover {
		background: darken($btn-background, 20);
	}

	//modifiers
	&.btn_green {
		background-color: $btn-background-green;
		border-color: $btn-border-color-green;

		&:hover {
			background: darken($btn-background-green, 20);
		}
	}

	&.btn_red {
		background-color: $btn-background-red;
		border-color: $btn-border-color-red;

		&:hover {
			background: darken($btn-background-red, 20);
		}
	}

	&.btn_blue {
		background-color: $btn-background-blue;
		border-color: $btn-border-color-blue;

		&:hover {
			background: darken($btn-background-blue, 20);
		}
	}

	&.btn_yellow {
		background-color: $btn-background-yellow;
		border-color: $btn-border-color-yellow;

		&:hover {
			background: darken($btn-background-yellow, 20);
		}
	}



	&.btn_lg {
		padding: $btn-padding-lg;

		font: $btn-font-lg;
	}

	&.btn_sm {
		padding: $btn-padding-sm;

		font: $btn-font-sm;
	}

	&.btn_fix {
		width: 150px;
		padding-left: -2px;
		padding-right: -2px;

		&.btn_lg {
			width: 200px;
		}

		&.btn_sm {
			width: 100px;
		}
	}

	&.btn_block {
		display: block;
		width: 100%;
	}
}