//-
   btns mixin example for use:
      1. include this file
         include ../../components/btn/btn

      2. add initialization this mixin like
         +btn({
            href: '#',
            modifiers: ['orange', 'fluid'],
            text: 'Click'
         })


mixin btn(opts)
   -
      var modifiers = '';

      if(opts.mods)
         modifiers = opts.mods.join(' ');

   if opts.href
      a.btn(href=opts.href, class=modifiers)= opts.text

   else
      button.btn(class=modifiers)= opts.text

