= ' '
a.btn(href='#') .btn
= ' '
a.btn.btn_lg(href='#') .btn_lg
= ' '
a.btn.btn_sm(href='#') .btn_sm
br
br

= ' '
a.btn.btn_green(href='#') .btn_green
= ' '
a.btn.btn_red(href='#') .btn_red
= ' '
a.btn.btn_blue(href='#') .btn_blue
= ' '
a.btn.btn_yellow(href='#') .btn_yellow
= ' '

br
br
a.btn.btn_block(href='#') .btn_block
= ' '
a.btn.btn_block.btn_lg(href='#') .btn_block_lg
a.btn.btn_block.btn_sm(href='#') .btn_block_sm
= ' '
br
br
a.btn.btn_fix(href='#') .btn_fix
= ' '
a.btn.btn_fix.btn_lg(href='#') .btn_fix_lg
= ' '
a.btn.btn_fix.btn_sm(href='#') .btn_fix_sm
= ' '
