.header {
	background: map_get($g-colors, lightblue);

	.header__layout {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: map_get($g-header, height-lg);
	}

		.header__l-left {
			width: 200px;
			margin-left: 20px;
		}

		.header__l-center {
			flex: 1 0 auto;
		}

		.header__l-right {
			width: 200px;
		}

	.header__logo {
		@include style-link-1(#fff);

		font-size: 20px;
	}

	// modifiers
	&.header_fix {
		position: fixed;
		left: 0;
		top: 0;

		width: 100%;
	}
}
