header.header.header_fix
	.container.header__layout
		.header__l-left
			a.header__logo(href='#') Logo

		.header__l-center
			include ../navs/nav-main/nav-main

		.header__l-right
			.header__user-block.user-block
				.user-block__login
					.user
						.user__img
							| img
						.user__name User
				.user-block__notlogin






