//-
   Main layout for most pages
doctype html
html(lang='ru')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      block title
         title Default title
      link(rel='stylesheet', href='css/style.css')
      link(rel='stylesheet', href='css/vendors.css')
      link(rel='stylesheet', href='css/helpers.css')
   body
      .wrap-main
         include ../../components/main/header/header

         block content
            p Default content s

         include ../../components/main/footer/footer

      //-common modals
      include ../../components/main/modal/login/modal_login

      //- modals for individual pages
      block modals

      // scripts for page
      block scripts

      //- script(src='../js/bundle.js')
      script(src='../js/app.js')