.layout-main {
	$header-height-lg: map_get($g-header, height-lg);
	$footer-height-lg: map_get($g-footer, height-lg);
	$main-padding-top: 20px;

	position: relative;

	min-height: 100%;
	padding-bottom: $footer-height-lg;

	.header {
		z-index: map_get($g-zindex, 'header');
	}

	.main {
		position: relative;

		min-height: calc(100vh - #{$footer-height-lg} - #{$header-height-lg});
		padding: $main-padding-top 0;

		z-index: map_get($g-zindex, 'main');
	}

	.header.header_fix + .main {
		padding-top: $header-height-lg + $main-padding-top;

		min-height: calc(100vh - #{$footer-height-lg});
	}

	.footer {
		z-index: map_get($g-zindex, 'footer');
	}

}