//common styles for the navigation
.nav {

	&__menu {

		& > li {

			& > a {

			}
		}

		.nav__has-submenu {
			position: relative;

			&:before {
				display: none;
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;

				margin-left: -5px;

				border: 5px solid transparent;
			}

			&:hover {

				&:before,
				.nav__submenu {
					display: block;
				}
				.nav__submenu_third {
					display: none;
				}
			}
		}
		.nav__has-submenu_third {
			&:hover {
				.nav__submenu_third {
					display: block;
					width: auto;
					top: 0;
					right: 100%;
					white-space: nowrap;
				}
			}
		}
	}

	&__submenu {
		display: none;
		position: absolute;
		top: 100%;
		//left: 0;
		right: 0;
		z-index: 1;

		//min-width: 160px;
		min-width: 194px;
		width: 100%;
		padding: 10px;

		background-color: #fff;
		border: 1px solid #9c9c9c;
		box-shadow: 1px 2px 3px rgba(3,3,3,0.75);

		li {

			& + li {
				border-top: 1px solid #efefef;
			}
		}

		a {
			display: block;
			padding: 3px 5px;

			color: #333;
		}
	}

	&__submenu_third {

	}
}

