extends ../../layouts/l-main/l-main

block title
	title Главная страница

block content
	main.main.page-home
		.container
			.grid
				.grid__col-3.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugiat fugit itaque iure magnam mollitia nesciunt, nostrum pariatur reiciendis velit? Amet commodi deleniti dolores eaque illum incidunt labore nam, quisquam tenetur voluptates! Alias architecto, corporis debitis dicta ducimus eum fugit harum impedit, libero maxime modi necessitatibus nihil perspiciatis possimus, quam quo rerum temporibus tenetur? Adipisci amet aspernatur assumenda autem commodi consequatur corporis distinctio dolores ducimus eaque eos
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam fugiat fugit itaque iure magnam mollitia nesciunt, nostrum pariatur reiciendis velit? Amet commodi deleniti dolores eaque illum incidunt labore nam, quisquam tenetur voluptates! Alias architecto, corporis debitis dicta ducimus eum fugit harum impedit, libero maxime modi necessitatibus nihil perspiciatis possimus, quam quo rerum temporibus tenetur? Adipisci amet aspernatur assumenda autem commodi consequatur corporis distinctio dolores ducimus eaque eos

				.grid__col-9
					| test content

					+icon_bicycle
					+icon_ladybug
					+icon_whatsapp



