footer.footer

	.footer__layout.container
		.footer__l-left
			a.footer__logo(href="#") Logo

		.footer__l-center
			include ../navs/nav-main/nav-main

		.footer__l-right
			p Clear powers lead to the treasure.
