.footer {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;

	background: map_get($g-colors, lightblue);

	.footer__layout {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: map_get($g-footer, height-lg);
	}
		.footer__l-left {
			width: 250px;
		}

		.footer__l-center {
			flex: 1 1 auto;
			margin: 0 20px;
		}

		.footer__l-right {
			width: 250px;
		}
	
	.footer__logo {
		@include style-link-1(#000);

		font-size: 20px;
	}
}