//-
	Created by ITUA on 21.11.2016.

mixin btn_action(opts)
	-
		var modifiers = '';

		if(opts.modifiers)
		modifiers = opts.modifiers.join(' ');

	a.btn.btn_action(href=opts.href || '#', class= modifiers)
		.btn__icon(class='btn__icon_' + opts.icon)
		.btn__text= opts.text