//-
	Created by ITUA on 21.11.2016.

ul.nav.nav_in-product
	li.nav__item(data-nav-target="general")
		.nav__icon.nav__icon_general
		.nav__text Общее
	li.nav__item(data-nav-target="options")
		.nav__icon.nav__icon_options
		.nav__text Выбор по параметрам
	li.nav__item(data-nav-target="features")
		.nav__icon.nav__icon_features
		.nav__text Характеристики
	li.nav__item(data-nav-target="descriptions")
		.nav__icon.nav__icon_descriptions
		.nav__text Описание
	li.nav__item(data-nav-target="reviews")
		.nav__icon.nav__icon_reviews
		.nav__text Отзывы