// main styles for modal in src/vendors/Magnific-popup/main.scss
.modal {
	position: relative;
	width: auto;
	max-width: 462px;
	margin: 20px auto;

	background-color: #fff;

	.mfp-align-top & {
		margin: 50px auto 20px;
	}

	&__close {
		position: absolute;
		right: -21px;
		top: -21px;

		@include bg($modal-close);

		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}
	}

	&__title {
		padding: 15px;

		background-color: #653c24;

		color: #fff;
		font: normal 14px $font-main;
		text-align: center;
		text-transform: uppercase;
	}

	&__icon {
		padding: 20px 0 20px;
		text-align: center;
	}
}