section#modal-login.modal.modal_login.mfp-hide.mfp-with-anim.js-modal-login
	.modal__close.js-modal-close(href='javascript:;')
	h1.modal__title Вход в кабинет
	.modal__body
		.login
			.login__switcher
				.login__sw-btn(data-target='login') Войти
				.toggle-switch.js-toggle-login
					.toggle-switch__toggle
				.login__sw-btn(data-target='registration') Регистрация
			.login__soc
				p Быстрый вход через соцсети:
				.list-soc
					a.soc.soc_vk(href='#')
						i.fa.fa-vk
					a.soc.soc_fb(href='#')
						i.fa.fa-facebook
			.switcher-container
				form.form.form_login
					.form__row
						.form__label
							label E-mail*
						.form__field
							input(type='text', name='')
					// /form__row
					.form__row
						.form__label
							label Пароль*
						.form__field
							input(type='password', name='')
					// /form__row
					.form__row
						.form__col
							.checkbox
								input#rememberme(type='checkbox', name='')
								label(for='rememberme')
									span.checkbox__pseudo
									span.checkbox__label Запромнить меня
						.form__col
							noindex
								a.login__link(href='#') Забыли свой пароль?
					// /form__row
					.form__btn
						button.btn.btn_brown(type='submit') Войти
				// /login__form
				form.form.form_registration
					.form__row
						.form__label
							label Имя*:
						.form__field
							input(type='text', name='')
					// /form__row
					.form__row
						.form__label
							label Телефон*
						.form__field
							input(type='text', name='', class='js-masked-phone', placeholder='+38 (___) ___-____')
					// /form__row
					.form__row
						.form__label
							label Адрес e-mail*:
						.form__field
							input(type='text', name='')
					// /form__row
					.form__row
						.form__label
							label Пароль*:
						.form__field
							input(type='password', name='')
					// /form__row
					.form__row
						.form__label
							label Подтверждение пароля*:
						.form__field
							input(type='password', name='')
						.form__desc
							p Пароль должен быть не менее 6 символов длиной.
							p *Поля, обязательные для заполнения.
					// /form__row
					.form__btn
						button.btn.btn_brown(type='submit') Регистрация
						.form__desc
							| Нажимая кнопку "Зарегистрироваться", я принимаю
							br
							a(href='#') Пользовательское соглашение
				// /login__registration