//-
	Created by ITUA on 07.02.2017.

.panel
	.panel__header
		.panel__title Заголовок

	.panel__content
		.panel__row
			.panel__col test
			.panel__col test

	.panel__content
		.panel__row
			.panel__col test
			.panel__col test
			.panel__col test

	.panel__footer
