//-
	Created by ITUA on 07.02.2017.

.panel
	.panel__header
		.panel__title Панели

	.panel__content
		| Обычный одноколоночный контент
	.panel__content
		.panel__row
			.panel__col 2 колонки. по умолчанию колонки делят родительскую ширину поровну
			.panel__col test

	.panel__content
		.panel__row
			.panel__col 3 колонки .по умолчанию колонки делят родительскую ширину поровну
			.panel__col test
			.panel__col колонка .по умолчанию колонки делят родительскую ширину поровну

	.panel__content
		.panel__row
			.panel__col И Т.Д. .по умолчанию колонки делят родительскую ширину поровну
			.panel__col колонка .по умолчанию колонки делят родительскую ширину поровну
			.panel__col test
			.panel__col колонка .по умолчанию колонки делят родительскую ширину поровну
