@mixin mq($args...) {
	$media-type: 'only screen';
	$media-type-key: 'media-type';
	$args: keywords($args);
	$expr: '';

	@if map-has-key($args, $media-type-key) {
		$media-type: map-get($args, $media-type-key);
		$args: map-remove($args, $media-type-key);
	}

	@each $key, $value in $args {
		@if $value {
			$expr: "#{$expr} and (#{$key}: #{$value})";
		}
	}

	@media #{$media-type + $expr} {
		@content;
	}
}


@mixin media-lg{
	@include mq($media-type: 'all', $max-width: $media-max-lg) {
		@content;
	}
}

@mixin media-only-lg{
	@include mq($media-type: 'all', $max-width: $media-max-lg) {
		@content;
	}
}

@mixin media-md{
	@include mq($media-type: 'all', $max-width: $media-max-md) {
		@content;
	}
}

@mixin media-only-md{
	@include mq($media-type: 'all', $min-width: $media-min-md, $max-width: $media-max-md) {
		@content;
	}
}

@mixin media-sm{
	@include mq($media-type: 'all', $max-width: $media-max-sm) {
		@content;
	}
}

@mixin media-only-sm{
	@include mq($media-type: 'all', $min-width: $media-min-sm, $max-width: $media-max-sm) {
		@content;
	}
}

@mixin media-xs{
	@include mq($media-type: 'all', $max-width: $media-max-xs) {
		@content;
	}
}

@mixin media-only-xs{
	@include mq($media-type: 'all', $min-width: $media-min-xs, $max-width: $media-max-xs) {
		@content;
	}
}


@mixin media($max: null, $min: null) {

	@if $max {

		@if $min {

			@include mq($media-type: 'all', $max-width: $max, $min-width: $min) {
				@content;
			}

		} @else {

			@include mq($media-type: 'all', $max-width: $max) {
				@content;
			}

		}

	} @else {

		@include mq($media-type: 'all', $min-width: $min) {
			@content;
		}

	}

}
