$basket-clear: 280px 138px -280px -138px 16px 21px 379px 334px '../images/sprites/sprite.png';
$breadcrumbs-home: 182px 228px -182px -228px 18px 17px 379px 334px '../images/sprites/sprite.png';
$breadcrumbs-wave: 324px 254px -324px -254px 10px 4px 379px 334px '../images/sprites/sprite.png';
$btn-action_credit: 280px 50px -280px -50px 19px 20px 379px 334px '../images/sprites/sprite.png';
$btn-action_installments: 280px 184px -280px -184px 18px 18px 379px 334px '../images/sprites/sprite.png';
$btn-action_one-click: 280px 0px -280px 0px 19px 25px 379px 334px '../images/sprites/sprite.png';
$btn-action_phone: 324px 0px -324px 0px 14px 21px 379px 334px '../images/sprites/sprite.png';
$btn-del: 85px 276px -85px -276px 16px 16px 379px 334px '../images/sprites/sprite.png';
$btn_add-review: 132px 115px -132px -115px 36px 35px 379px 334px '../images/sprites/sprite.png';
$c-filter-icon: 280px 227px -280px -227px 18px 18px 379px 334px '../images/sprites/sprite.png';
$callback-corner: 211px 98px -211px -98px 40px 16px 379px 334px '../images/sprites/sprite.png';
$header-user: 42px 276px -42px -276px 18px 16px 379px 334px '../images/sprites/sprite.png';
$icon-one-click: 0px 0px 0px 0px 65px 90px 379px 334px '../images/sprites/sprite.png';
$icon_arrow-left: 156px 181px -156px -181px 33px 14px 379px 334px '../images/sprites/sprite.png';
$icon_arrow-right: 211px 139px -211px -139px 34px 14px 379px 334px '../images/sprites/sprite.png';
$icon_review-comment: 0px 181px 0px -181px 27px 22px 379px 334px '../images/sprites/sprite.png';
$icon_review-negative: 52px 181px -52px -181px 27px 22px 379px 334px '../images/sprites/sprite.png';
$icon_review-positive: 104px 181px -104px -181px 27px 22px 379px 334px '../images/sprites/sprite.png';
$login-or: 90px 0px -90px 0px 96px 20px 379px 334px '../images/sprites/sprite.png';
$modal-close: 0px 228px 0px -228px 23px 23px 379px 334px '../images/sprites/sprite.png';
$phone-kiev: 98px 228px -98px -228px 17px 18px 379px 334px '../images/sprites/sprite.png';
$phone-live: 280px 95px -280px -95px 19px 18px 379px 334px '../images/sprites/sprite.png';
$phone-mts: 140px 228px -140px -228px 17px 18px 379px 334px '../images/sprites/sprite.png';
$popup-close: 82px 319px -82px -319px 15px 15px 379px 334px '../images/sprites/sprite.png';
$present-btn-next: 66px 115px -66px -115px 41px 41px 379px 334px '../images/sprites/sprite.png';
$present-btn-prev: 0px 115px 0px -115px 41px 41px 379px 334px '../images/sprites/sprite.png';
$pro-info_bonuses: 214px 181px -214px -181px 21px 14px 379px 334px '../images/sprites/sprite.png';
$pro-info_bus: 0px 276px 0px -276px 17px 18px 379px 334px '../images/sprites/sprite.png';
$pro-info_return: 225px 228px -225px -228px 17px 17px 379px 334px '../images/sprites/sprite.png';
$product-compare-hover: 363px 76px -363px -76px 16px 12px 379px 334px '../images/sprites/sprite.png';
$product-compare: 363px 113px -363px -113px 16px 12px 379px 334px '../images/sprites/sprite.png';
$product-label-tooth-green: 324px 158px -324px -158px 3px 31px 379px 334px '../images/sprites/sprite.png';
$product-label-tooth-red: 324px 46px -324px -46px 3px 31px 379px 334px '../images/sprites/sprite.png';
$product-label-tooth-yellow: 324px 102px -324px -102px 3px 31px 379px 334px '../images/sprites/sprite.png';
$product-single-arrow-left: 363px 299px -363px -299px 14px 10px 379px 334px '../images/sprites/sprite.png';
$product-single-arrow-right: 363px 264px -363px -264px 14px 10px 379px 334px '../images/sprites/sprite.png';
$product-to-favorite-hover: 363px 0px -363px 0px 16px 13px 379px 334px '../images/sprites/sprite.png';
$product-to-favorite: 363px 38px -363px -38px 16px 13px 379px 334px '../images/sprites/sprite.png';
$rating: 0px 319px 0px -319px 16px 15px 379px 334px '../images/sprites/sprite.png';
$rating_active: 41px 319px -41px -319px 16px 15px 379px 334px '../images/sprites/sprite.png';
$share_fb: 324px 214px -324px -214px 7px 15px 379px 334px '../images/sprites/sprite.png';
$share_gp: 122px 319px -122px -319px 18px 12px 379px 334px '../images/sprites/sprite.png';
$share_ok: 363px 150px -363px -150px 11px 17px 379px 334px '../images/sprites/sprite.png';
$share_tw: 363px 192px -363px -192px 14px 12px 379px 334px '../images/sprites/sprite.png';
$share_vk: 363px 229px -363px -229px 16px 10px 379px 334px '../images/sprites/sprite.png';
$small-basket: 211px 46px -211px -46px 34px 27px 379px 334px '../images/sprites/sprite.png';
$subscribe: 211px 0px -211px 0px 44px 21px 379px 334px '../images/sprites/sprite.png';
$switch-grid-active: 126px 276px -126px -276px 16px 16px 379px 334px '../images/sprites/sprite.png';
$switch-grid: 208px 276px -208px -276px 16px 16px 379px 334px '../images/sprites/sprite.png';
$switch-list-active: 167px 276px -167px -276px 16px 16px 379px 334px '../images/sprites/sprite.png';
$switch-list: 249px 276px -249px -276px 16px 16px 379px 334px '../images/sprites/sprite.png';
$to-basket: 48px 228px -48px -228px 25px 20px 379px 334px '../images/sprites/sprite.png';
$toggle-switch: 90px 45px -90px -45px 83px 19px 379px 334px '../images/sprites/sprite.png';

@mixin sprite-position($sprite) {
$sprite-offset-x: nth($sprite, 3);
$sprite-offset-y: nth($sprite, 4);
background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
$sprite-image: nth($sprite, 9);
background-image: url($sprite-image);
}

@mixin sprite-mixin-template($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
width: nth($sprite, 5);
height: nth($sprite, 6);
}

@mixin bg($sprite, $repeat: no-repeat) {
@include sprite-mixin-template($sprite);
$sprite-total-width: nth($sprite, 7);
$sprite-total-height: nth($sprite, 8);
background-size: $sprite-total-width, $sprite-total-height;
background-repeat: $repeat;



}
