.live-search-results {
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	height: auto;
	padding: 10px;
	background: #fff;

	a {
		display: block;
		font-size: 14px;
		line-height: 20px;
	}
}

.live-search-results__elem {
	margin-bottom: 10px;
}

.live-search-results-link {
	display: block;
	font-size: 14px;
	line-height: 20px;
}

.live-search-results__footer {
	padding-top: 10px;
	border-top: 1px solid #bbb;
}