.phones {

	&__dropdown {
		position: relative;
		margin-bottom: 6px;

		&:hover {
			.phones__popup {
				display: block;
			}
		}
	}

	&__toggle {
		color: #c38d40;
		font-weight: bold;
		line-height: 16px;
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}

	&__popup {
		position: absolute;
		display: none; // показывается при ховере(стр. 8)

		padding-top: 14px;

		z-index: 1;

		&.show {
			display: block;
		}
	}
	.form_callback {
		position: relative;
		width: 217px;
		padding: 14px;

		background-color: #fff;
		box-shadow: 0 0px 12px rgba(0, 0, 0, 0.4);

		&:before {
			content: '';
			position: absolute;
			top: -16px;
			left: 8px;

			@include bg($callback-corner);
		}

		.form__row {
			margin-bottom: 12px;
		}

		label {
			font-size: 12px;
			line-height: 1;
			margin-bottom: 5px;
		}
	}

	&__title {
		margin-bottom: 6px;
		font: 14px $font-second;
	}

	&__phone {
		color: #000;
		font-size: 15px;
		font-weight: bold;
		letter-spacing: 0.002em;

		& + .phones__phone {

		}

		@at-root a.phones__phone {
			display: block;
			text-decoration: none;

			&:hover {
				color: $color-link;
				text-decoration: underline;
			}
		}
	}
	&__icon {
		position: relative;
		display: inline-block;
		margin: 0 8px 0 0;

		vertical-align: top;

		&_mts {
			@include bg($phone-mts);
		}

		&_kievstar {
			@include bg($phone-kiev);
		}

		&_live {
			@include bg($phone-live);
		}

		&_city {
			width: 19px;
			height: 18px;
			margin-top: 3px;

			@include fa-icon();

			color: #a7c800;
			font-size: 15px;
			text-align: center;

			&:before {
				content: $fa-var-phone;
			}
		}
	}
}