.btn.btn_add-review {
	display: flex;
	align-items: center;
	width: auto;
	padding: 0;
	background-color: transparent;

	.btn__icon {
		@include bg($btn_add-review);
		margin-right: 20px;
	}

	.btn__text {

		font: 16px $font-second;
		color: #c38d40;
		line-height: 1;
		text-transform: uppercase;
	}
}