footer.footer

	section.subscribe
		.container
			h1.subscribe__title Подписаться на скидки / Акции
			form.form(action='')
				.form__row
					.form__col.form__field
						input(type='text', name='', placeholder='Имя')
					.form__col.form__field
						input(type='text', name='', placeholder='E-mail')
					.form__col
						button.btn Добавить
	.container.footer__row
		.footer__col
			a.footer__logo(href='#')
				img(src='../images/pictures/general/logo.png', alt='Logo barin.kiev.ua')
			p.copyright
				| 2010-2015 © Интернет-магазин мебели БАРИН
			.list-soc
				a.soc.soc_fb(href='#')
					i.fa.fa-facebook
				a.soc.soc_vk(href='#')
					i.fa.fa-vk
		// footer__col
		.footer__col
			ul.footer__nav
				li
					a(href='#') Карта сайта
				li
					a(href='#') Доставка
				li
					a(href='#') Подъем и сборка
				li
					a(href='#') Оплата
		// footer__col
		.footer__col
			ul.footer__nav
				li
					a(href='#') Кредит (УкрСиббанк)
				li
					a(href='#') Отзывы
				li
					a(href='#') Контакты
				li
					a(href='#') Матрасы, текстиль
				li
					a(href='#') Спальни, Кровати
				li
					a(href='#') Мягкая мебель
				li
					a(href='#') Корпусная мебель
				li
					a(href='#') Ткани
		// footer__col
		.footer__col
			.phones
				a.phones__phone(href='tel:044 337-48-77')
					i.phones__icon.phones__icon_city
					| 044 337-48-77
				a.phones__phone(href='tel:093 219-33-77')
					i.phones__icon.phones__icon_live
					| 093 219-33-77
				a.phones__phone(href='tel:067 586-55-77')
					i.phones__icon.phones__icon_kievstar
					| 067 586-55-77
				a.phones__phone(href='tel:095 585-66-77')
					i.phones__icon.phones__icon_mts
					| 095 585-66-77
			p
				a(href='mailto:info@barin.ua') info@barin.ua
			p
			p
				| Разработка сайта:
				a(href='http://itua.com.ua') ITUA.COM.UA
		// footer__col
	// /footer__row
