//-
	Created by ITUA on 10.11.2016.

extends layouts/l-page-index/l-page-index

block title
	title Главная страница

block content
	ol.list-pages
		li.list-pages__item
			a.link(href="page-home.html") Главная
		li.list-pages__item
			a.link(href="page-catalog(tile).html") Каталог товаров (плитка)
		li.list-pages__item
			a.link(href="page-catalog(list).html") Каталог товаров (список)
		li.list-pages__item
			a.link(href="page-product.html") Страница товара
		li.list-pages__item
			a.link(href="page-reviews.html") Страница отзывов
		li.list-pages__item
			a.link(href="page-search-result.html") Результаты поиска
		li.list-pages__item
			a.link(href="page-basket.html") Корзина