//-
	Created by ITUA on 10.11.2016.

extends layouts/l-page-index/l-page-index

block title
	title Главная страница

block content
	-
		var pages = [
		{
			title: 'UI',
			href: 'page-ui.html'
		},{
			title: 'Главная',
			href: 'page-home.html'
		}
		];

	ol.list-pages
		each page in pages
			li.list-pages__item
				a.link(href=page.href, target='_blanck')= page.title

	.iframe
		iframe#iframe