.form {
	
	input[type=text],
	input[type=password],
	textarea {
		width: 100%;
		height: 30px;
		padding: 1px 10px;

		border: 1px solid #dddddd;
	}

	textarea {
		height: 80px;
		padding: 6px 10px;
		resize: none;
	}
}